<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Utilizando Servicios</title>
    <link rel="stylesheet" href="Card.css">

    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css" rel="stylesheet">
</head>
<body>
<h1>Tarjetas de Perfil</h1>
<div class="business-card clearfix">
    <div class="business-card-profile">
        <img class="business-card-pic"
             src="User_Photo.png"
             alt="profile picture"/>
        <p class="business-card-name">Angel Cárdenas</p>
        <p class="business-card-title">Diseñador y Programador Fullstack</p>
    </div>
    <div class="business-card-arrow"></div>
    <div class="business-card-details">
        <button class="data-button">
            <i class="fa fa-user" aria-hidden="true"></i> MIS DATOS
        </button>
        <p><i class="fa fa-user"></i><strong>Nombre:</strong> Angel Cárdenas</p>
        <p><i class="fa fa-location-dot"></i><strong>Ciudad:</strong> Cuenca</p>
        <p><i class="fa fa-calendar-days"></i><strong>Horarios:</strong> Lunes -Viernes</p>
        <p><i class="fa fa-envelope"></i><strong>Correo:</strong> a@gamil.com</p>
        <p><i class="fa fa-phone"></i><strong>Celular:</strong> +593 987296412</p>
        <p><i class="fa fa-newspaper"></i>Pagina Web: https://tecnologialatinaec-videojuegos.blogspot.com/</p>
    </div>
</div>
</body>
</html>