<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="ISO-8859-1">
    <title>Factura</title>

</head>
<body>

<h3 th:text="${factura.descripcion}"></h3>
<div>Clinete:
    <span th:text="${factura.cliente.nombre + ' ' + factura.cliente.apellido}"></span>
</div>
<h4>Detalle de Factura</h4>
<table>
    <thead>
    <tr>
        <th>Producto</th>
        <th>Precio</th>
        <th>Cantidad</th>
        <th>Total</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="item: ${factura.items}">
        <td th:text="${item.producto.nombre}"></td>
        <td th:text="${item.producto.precio}"></td>
        <td th:text="${item.cantidad}"></td>
        <td th:text="${item.cantidad * item.producto.precio}"></td>
    </tr>

    </tbody>
</table>

</body>
</html>